<!--<div class="footer">-->
<!--<hr>-->
<!--<div class="container">-->
<!--<div class="row">-->

<!--<div class="col-md-8 col-md-offset-2 text-center">-->
<!--<div class="title">-->
<!--<h1>Свяжитесь с нами</h1>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<p>Телефон: <span class="text-nowrap">+7 999 888-77-66</span>-->
<!--</p>-->
<!--<p>Email: <span class="text-nowrap">admin@bookstore.com</span></p>-->
<!--<p>Возможно стоит вынести его на отдельную страницу.</p>-->
<!--<p>Текст с дополнительной информацией по условиям сотрудничества.</p>-->
<!--<p>Возможно стоит вынести его на отдельную страницу.</p>-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<form class="form-horizontal">-->
<!--<div class="form-group text-center">-->
<!--<label class="control col-md-3" for="organisation">Организация</label>-->
<!--<div class="col-md-7">-->
<!--<textarea class="form-control" id="organisation" rows="3"></textarea>-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group text-center">-->
<!--<label class="control col-md-3" for="phone">Телефон</label>-->
<!--<div class="col-md-7">-->
<!--<input class="form-control" id="phone" placeholder="Номер телефона">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group text-center">-->
<!--<label class="control col-md-3" for="email">Email</label>-->
<!--<div class="col-md-7">-->
<!--<input class="form-control" id="email" placeholder="user@example.com">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group text-center">-->
<!--<label class="control col-md-3" for="name">Имя</label>-->
<!--<div class="col-md-7">-->
<!--<input class="form-control" id="name" placeholder="Ваше имя">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-md-3 col-md-offset-3">-->
<!--<button class="btn btn-default text-uppercase" type="submit">Отправить информацию</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<hr>
<footer class="mt-5">
    <div class="container-fluid bg-faded mt-5">
        <div class="container">
            <div class="row py-3">
                <!-- footer column 1 start -->
                <div class="col-md-4">
                    <!-- row start -->
                    <div class="row py-2">

                        <div class="col-sm-9">
                            <h4>Кто мы:</h4>
                            Мы - продавцы удовольствия
                        </div>
                    </div>
                    <div class="row py-2">

                        <div class="col-sm-9">
                            <h4>Наша миссия</h4>
                            культурное развитие общества
                        </div>
                    </div>

                    <!-- row end -->
                </div>
                <!-- footer column 1 end -->
                <!-- footer column 2 start -->
                <div class="col-md-4">
                    <!-- row start -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">

                        </div>
                        <div class="col-sm-9">
                            <h4>Контакты:</h4>
                            <p>Адрес: <span class="text-nowrap">3-я улица строителей, дом 25</span></p>
                            <p>Телефон: <span class="text-nowrap">+7 999 888-77-66</span></p>
                            <p>Email: <span class="text-nowrap">admin@bookstore.com</span></p>
                        </div>
                    </div>

                    <!-- row end -->
                    <!-- row start -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">

                        </div>
                        <div class="col-sm-9">
                            <h4>Cookie policy</h4>
                            <p class=" ">Мы используем <a class=" " href="# ">cookies </a></p>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- footer column 2 end -->
                <!-- footer column 3 start -->
                <div class="col-md-4">
                    <!-- row starting  -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">

                        </div>
                        <div class="col-sm-9">
                            <h4>Оплата и доставка</h4>
                            <p></p>

                        </div>
                    </div>
                    <!-- row ended -->
                    <!-- row starting  -->
                    <div class="row py-2">
                        <div class="col-sm-3 hidden-md-down">

                        </div>
                        <div class="col-sm-9">
                            <h4>Наши партнеры</h4>

                        </div>
                    </div>
                    <!-- row ended -->
                </div>
                <!-- footer column 3 end -->
            </div>
        </div>
    </div>
</footer>