<div class="col-lg-3 col-md-4 col-sm-5 mb-4">
    <div class="card" style="width: 14rem;">
        <a href="{{ book.get_absolute_url }}">
            <img class="card-img-top" src="/static/{{ book.book_image }}" alt="{{ book.title }}">
        </a>
        <div class="card-block">
            <h4 class="card-title"></h4>
            <p class="card-text text-center">
                <strong>
                    <a href="{{ book.get_absolute_url }}" class="dark-grey-text"> {{ book.title |truncatechars:50 }}
                        {% if book.new_book %}
                        <span class="badge badge-pill badge-danger">New</span>
                        {% endif %}
                        {% if book.bestseller %}
                        <span class="badge badge-pill badge-success> Bestseller</span></a>
                        {% endif %}
                    <a href="{% url 'author-detail' book.author.id %}">
                        <div class="grey-text">
                            <h5>{{ book.author |truncatechars:50 }}</h5>
                        </div>
                    </a>
                    <h4 class="font-weight-bold text-success">
                        <strong>Цена: {{ book.price }}</strong>
                    </h4>
                </strong>
            </p>
            <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
</div>
