{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>

    {% if book_list %}
    <div class="row">
        
      {% for book in book_list %}
      <!-- <li>
        <a href="{{ book.get_absolute_url }}"><img src="/static/{{ book.book_image }}" 
          width="189" height="255" alt="{{ book.title }}"></a> {{book.title}} - {{book.author}}
        <hr>
      </li> -->

      <div class="card mt-5 ml-4 " style="width: 10rem; font-size: 15px;">
        <a href="{{ book.get_absolute_url }}"><img class="card-img-top" src="/static/{{ book.book_image }}" alt="{{ book.title }}"></a>
        <div class="card-body">
          <h5 class="card-title"  style="font-size: 15px;">{{ book.title }}</h5>
          <p class="card-text">{{ book.author }}</p>
          <a href="#" class="btn btn-primary">В корзину</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
{% endblock %}