{% extends "base_generic.html" %}

{% block content %}
<h1>Книги в наличии</h1>

{% if book_list %}
<section>
    {% for book in book_list %}
        {% if forloop.counter0|divisibleby:4 %}
            {% if forloop.first %}
                <div class="row">
                {% include 'store/includes/book_card.html' %}

            {% else %}
                </div>
            <div class="row">
            {% include 'store/includes/book_card.html' %}

            {% endif %}

        {% else %}

        {% include 'store/includes/book_card.html' %}

        {% endif %}

    {% endfor %}
</section>
{% else %}
<p>There are no books in the library.</p>
{% endif %}
{% endblock %}