
{% extends "base_generic.html" %}

{% block content %}
<div class="col-sm-4 mt-3">
    <h3>{{ book.title }}</h3>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="row">

  <div class="col-sm-3 col-lg-3 col-md-3 mt-4">
      <p><a href="/static/{{ book.book_image }}"><img class="rounded float-left" src="/static/{{ book.book_image }}" alt="{{ book.title }}"  style="width: 15rem;"></a></p>
      
  </div>

<div class="col-sm-4 col-lg-4 col-md-5 mt-4">
    <nav>
        <div class="nav nav-tabs ml-15" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Характеристики</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Оплата</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Доставка</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            Автор: <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a><br>
            Краткое описание: {{ book.summary }} <br>
            ISBN: {{ book.isbn }} <br> 
            Язык: {{ book.language }}  <br> 
            Жанр: {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %} <br>
            Цена: {{ book.price }} <br>
            <form action="{% url 'CartAdd' book.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Добавить в корзину">
            </form>    <br>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            Наличные при получении
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <p>Доставка в пределах города 300 рублей</p>
            <p>Самовывоз - бесплатно</p>
        </div>
     </div>
    </div>
  </div>
</div>

{% endblock %}