{% extends "base_generic.html" %}

{% block content %}
<h1><a href="{% url 'catalog' %}">Каталог жанров</a></h1>
<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2">
    {% for genre in genregroups_list %}
    <ul class="catalog">
      <li><a href="{% url 'catalog' %}?genre_group={{ genre }}">{{ genre }}</a></li>
    </ul>
    {% endfor %}


    {% include 'store/includes/filter_form.html' %}
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8">

    <div class="card-deck text-center">
      <div class="row">
        {% for book in page_obj.object_list %}
        <div class="card">
          <a href="{{ book.get_absolute_url }}">
            <img class="card-img-top" src="/static/{{ book.book_image }}" alt="{{ book.title }}" width="100"></a>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 10px;">{{ book.title |truncatechars:50 }}</h5>
            <p class="card-text">{{ book.author }}</p>
            <a href="#" class="btn btn-primary">В корзину</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}