{% extends "base_generic.html" %}

{% block content %}
<table>

    <tr>
        <td>
            <h1><a href="{% url 'catalog' %}">Каталог жанров</a></h1>

            <div class="col-sm-3 col-md-3 col-lg-3 mr-5">
                {% for genre in genregroups_list %}
                <ul class="catalog">
                    <li><a href="{% url 'catalog' %}?genre_group={{ genre }}">{{ genre }}</a></li>
                </ul>
                {% endfor %}
                {% include 'store/includes/filter_form.html' %}
            </div>
        </td>

        <td>
            <div class="row">
                {% for book in page_obj.object_list %}
                {% include 'store/includes/book_card.html' %}
                {% endfor %}
            </div>
        </td>
    </tr>

</table>

{% endblock %}
